body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writing-box {
  width: 16px;
  height: 34px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.download-btn {
  cursor: pointer;
  font-size: 24px;
  color: #333;
  border-radius: 50%;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
