.verticalDivider{
    border-right: 3px solid #000000;
    margin-right: 20px;
    height: 30px;
    
}

/* Navbar.module.css */

.searchBox {
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .searchInput {
     width: 650px;
     height: 40px;
     outline: 1px solid red;
     margin-right: 1px;
     
  }

  .iconBox{
    border: 2px solid red;
    background-color: red;
    width: 40px;
    height: 40px;

  }
  
  .searchIcon {
    cursor: pointer;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
   
  }
  
  .navbar-nav {
    flex-direction: row; /* Set flex direction to horizontal */
  }
  
  .nav-item {
    margin-right: 10px; /* Add spacing between menu items */
  }
  